<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER NEW USER</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>ENTER DETAILS TO REGISTER</h1>
    <form method="post" action="/registerform">
        <h2>YOUR ASSIGN ID</h2>
        <textarea  name="id" ></textarea>
        <h2>ENTER USERNAME</h2>
        <textarea  name="username" ></textarea>
        <h2>ENTER USER_EMAIL</h2>
        <textarea  name="email" ></textarea>
        <h2>ENTER USER_password</h2>
        <textarea  name="password" ></textarea>
        <br>
        <button class="options">REGISTER USER</button>
    </form>
</body>
</html>