<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH USER</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <h1>ENTER USER ID TO SEARCH</h1>
        <form method="post" action="/searchUser">
            <textarea name="id" placeholder="Enter USER ID"></textarea>
            <button class="options">GET USER</button>
        </form>
</body>
</html>