<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="form">
    <h2>ADD NEW HOTELINFO</h2>
     <form method="post" action="/hotelinfo/create">
        <lable for="title" class="form-lable">Title</lable>
        <input type="text" placeholder=" Enter title" name="hotelinfo[title]" class="form-control">
        <lable for="title" class="form-lable">Description</lable>
        <textarea placeholder="Enter description" name="hotelinfo[description]" class="form-control"></textarea>
        <lable for="title" class="form-lable">Image URL</lable>
        <input type="text" placeholder=" Enter img_url" name="hotelinfo[image]" class="form-control imginput">
      <div class="pl">
        <div class="price">
        <lable for="title" class="form-lable">Price</lable>
        <input type="text" placeholder=" Enter price" name="hotelinfo[price]" class="form-control">
        </div>
        <div class="location">
        <lable for="title" class="form-lable">Location</lable>
        <input type="text" placeholder=" Enter location" name="hotelinfo[location]" class="form-control">
        </div>
      </div>
        <lable for="title" class="form-lable">Country</lable>
        <input type="text" placeholder=" Enter country" name="hotelinfo[country]" class="form-control">
        <br>
        <button class="btn">ADD HOTELINFO</button> 
     </form>
    </div>
    
    <br>
</body>
