<footer>
    <div class="f-info">
        <div class="social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="company-detail1">
            <i class="fa-regular fa-copyright"></i>
            2023 HolelForTravel pvt. Ltd.
        </div>
        <div class="company-detail2">
                <a href="/privacy">Privacy</a>
                <a href="/Terms">Terms</a>
                <a href="/Sitemap">Sitemap</a>
                <a href="/Company details">Company details</a>
        </div>
    </div>
</footer>