<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
      <i class="fa-solid fa-hotel"></i>
      <a class="navbar-brand" >HotelForTravel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/hotelinfo">Home</a>
          <a class="nav-link" href="/hotelinfo/new">AddNewHotelinfo</a>
        </div>
      </div>
    </div>
  </nav>